.container{
  max-width:400px ;
  min-height: 450px;
  margin: 0 auto;
  background-color: #efefef;
  box-shadow: 0 0 10px gray;
  margin-top: 50px;
padding: 15px 50px;
}
 
.text_cenetr{
  text-align: center;
}

.expence_container {
  display: flex;
  justify-content: space-around;
  background-color: wheat;
  box-shadow: 0 0 10px gray;

}
